.header {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  padding-right: 30px;
  background-color: #F5F5F1;

  .Logo{
    padding-top: 2px;
    padding-left: 40px;
    height: 90px;
    width: 220px;
    position: absolute;
    left: 0;
    top: 0;
  }

  .logo-container{
      padding-top: 30px;
      padding-bottom: 15px;
      cursor: pointer;
      color: #C53F3F;
      font-weight: bold;
      font-size: 21px;
      font-family: 'Cinzel', serif;
  }

  .options {
    width: 83%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      cursor: pointer;
      color: #C53F3F;
      font-weight: bold;
      font-size: medium;
      font-family: 'Changa', sans-serif;
    }
  }
}